.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mazo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 130px;
    margin: 0px 10px;
    border-radius: 10px;
    background-image: url('../../media/designs/cartas/misteriosa.png');
    background-size: 100%;
    transition: box-shadow 0.25s;
}
.mazo:hover {
    box-shadow: 0px 0px 15px #cadf14;
}

.mazoDescarte {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 130px;
    margin: 0px 10px;
    border-radius: 10px;
    transition: box-shadow 0.25s;
}
.mazoDescarte:hover {
    border-color: transparent;
    cursor: default;
}

.mazoDescarteState1 {
    background-color: transparent;
    border-color: #3a3a3a;
    border-width: 2px;
}
.mazoDescarteState1:hover {
    background-color: transparent;
    border-color: #3a3a3a;
    border-width: 2px;
}
.mazoDescarteState2 {
    background-image: url('../../media/designs/cartas/back_alejate.png');
    background-size: 100%;
}
.mazoDescarteState3 {
    background-image: url('../../media/designs/cartas/back_panico.png');
    background-size: 100%;
}