/* Jugador.module.css */
.jugador {
    background: #3a3a3a;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 10px;
    transition: box-shadow 0.25s;
}

.jugador p {
    margin: 0;
    color: #c1c1c1;
}

.turno {
    background: #008000; /* Cambia el color de fondo a rojo si es el turno */
    box-shadow: 0px 0px 15px #008000;
}
