/* Estilo para Jugadores.module.css */
.jugadoresContainer {
    display: flex;
    width: 100%;
    left: 0;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 0;
}

.puertaLeft{
  padding-top: 5rem;
  padding-left:2rem;
}

.puertaRight{
  padding-top: 5rem;
  padding-right: 2rem;
}
.jugadorLeft {
  display: flex;
  left: 0;
  top: 50%;
  position: absolute;
}

.jugadorRight {
  display: flex;
  right: 0;
  top: 50%;
  position: absolute;
}