.InicioForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form Input {
  border: none;
  border-bottom: 1px solid gray;
  background-color: transparent;
  padding-bottom: 10px;
}

.form Input:focus {
  outline: none;
}

.Buttons {
  padding: 20px;
}

h3 {
  font-size: 30px;
  color: #cadf14;
  width: 200px;
  text-align: center;
}