.carta {
    box-shadow: 0px 0px 10px #100816;
    margin-right: 10px;
    border-radius: 10px;
    transition: box-shadow 0.25s;
}
.cartaTurno:hover {
    cursor: pointer;
}

img {
    border-radius: 10px;
}

.botones {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.boton {
    color: #d1d1d1;
    background-color: #1a1a1a;
    margin-bottom: 5px;
}
