.botones{
    display: flex;
    width: 400px;
    justify-content: space-around;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jugadores {
    display: flex;
    justify-content: center;
    flex-direction: column;
}