@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');


.modalBody {
    background-color: #161616;
    color: white;
    text-shadow: 3px;
    display: flex;
}

.header {
    background-color: #161616;
    color: white;
    
}

.encabezado {
    font-family: 'Creepster', cursive;
    font-size: 40px;
    display: flex;
    text-align: center;
}

.list {
    display: inline-block;
}

.nombreCarta {
    margin-right: 5px;
}

.footer {
    background-color: #161616;
}