@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

.imgBack{
  
  justify-content: center;
  align-items: center;
  position: fixed; 
  
    margin: 0;
    padding: 0;
    width: 50%;
    height: 50vh;
    
    object-fit: cover;
    z-index: -1;
    left: 0;
    top: 0;
  }

  .modal{
    display: flex;
    justify-content: center;
    position:fixed;
    z-index: 999;
    top:0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.60);
  }
  .modal-container{
    border-radius: 1rem;
    border-color: #fff;
    margin-top: 5rem;
    background-image: url("../../media/designs/lobbyBack.jpg");
    background-size: 52rem;
    height: 28rem;
    width: 30rem;
  }
  .container-tabla{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 18rem;
    max-width: 100vh;
}
  .tabla-unirsePartida{
    color:#fff;
    max-height: 300px;
    border:0.1px solid #000;
    margin-left: 1rem;
  }

  .titulo-tabla{
    color: rgb(225, 253, 63);
    font-family: 'Creepster', cursive;
    font-size:40px;
    text-align: left;
    margin-left: 1.5rem;
  }

  th{
    background-color: rgb(49, 58, 2);
    font-family: 'Creepster', cursive;
    font-size:17px;
    width: 25%;
  }
  td{
    color: write;
  }

  .boton-terror {
    color: #ffffff;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 400;
    max-width: 6rem;
    max-height: 3rem;
    font-family: 'Creepster', cursive;
    background-color: #212121;
    cursor: pointer;
    transition: border-color 0.25s, background-color 0.25s, color 0.25s;
    margin-left: 20rem;
}
.boton-terror:hover {
    border-color: #a2d31c;
    background-color: #b6e72f;
    color: #121212;
}
.boton-terror:focus,
.boton:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
.boton-terror:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #000;
    transform: translateY(4px);
}
