@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 50px;
  font-family: Helvetica, Arial, sans-serif;
}

.videobg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
  
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    
    object-fit: cover;
    z-index: 0;
    left: 0;
    top: 0;
  }
  .tabla-unirsePartida{
    color:#fff;
    max-height: 250px;
    overflow-y: scroll;
    border:0.1px solid #fff;
    
  }

  .tabla-unirsePartida::-webkit-scrollbar{
    width: 7px;
    backdrop-filter: blur(15px);
  }
  .tabla-unirsePartida::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, .2);
    border-radius: 10px;
  }

  .titulo-tabla{
    color: #cadf14;
    font-family: 'Creepster', cursive;
    font-size:40px;
    text-align: left;
  }

  th{
    position: sticky;
    top: 0px;
    background-color: rgba(41, 49, 29, 1);
    font-family: 'Creepster', cursive;
    font-size:17px;
    width: 130px;
    text-align: center;
  }

  .contenedor-tabla{
    display: flex;
    flex-direction: column;
    width: 70%;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 1px solid rgba(90,90,90,0.2);
    padding:4vh;
  }

h4{
  text-align: right;
  color:#fafafa;
}

.boton-crear {
  font-size: 14px;
  color: #121212;
  padding: 10px;
  max-width: 9vw;
}