.popupcontainer {
    display: flex;
    justify-content: center;
    position: fixed;
    height: 85vh;
    width: 600px;
}

.popupbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    color: #cacaca;
    height: 100%;
    width: 80%;
}

.popupbody h1 {
    padding-top: 30px;
    padding-bottom: 15px;
}

.popupbody p {
    text-align: left;
    width: 90%;
    font-size: 0.9em;
    overflow: scroll;
}

.closeRules {
    position: relative;
    border-radius: 0px;
    width: 40px;
    height: 40px;
    font-weight: 700;
    background-color: transparent;
    left: 40px;
    top: 0;
}